build/Makefile
build/G3D-RPi-Programs
build/*.cpp
build/*.h
build/*.o
build/resources/current_slice/*.png
build/resources/current_slice/*.ini
build/resources/current_slice/thumbnail
build/resources/web_upload/*.g3d
build/resources/images/mini_projection/*.png
build/resources/temp_files/*.png
*.user
build/resources/thumbnail/image/*.png
